body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc5e9;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #ff4800;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b33900;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .delete-button {
    color: #d9534f;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  